/* Estilos para el TopBar */
.top-bar {
    width: 100%;
    background-color: #ffffff; /* Fondo blanco */
    padding: 10px 20px; /* Espaciado interno */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra para dar profundidad */
    display: flex;
    align-items: center;
  }
  
  .line {
    height: 4px; /* Grosor de la línea */
    background-color: #3498db; /* Color de la línea */
    flex-grow: 1; /* La línea ocupa el espacio restante */
    margin-left: 10px; /* Espacio a la izquierda */
  }